.column1 {
  width: 400px;
  float: left;
  padding: 5px;
  background-color: skyblue;
  margin-right: 10px;
  border: 5px solid red;
}

.column2 {
  width: 400px;
  float: left;
  padding: 5px;
  background-color: yellow;
  margin-right: 10px;
  border: 5px solid skyblue;
}

.column3 {
  width: 400px;
  float: left;
  padding: 5px;
  background-color: red;
  margin-right: 10px;
  border: 5px solid yellow;
}
